body{
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.navbar {
    opacity: .8;
    border-bottom: #e9e9e9 1px solid;
}

.navbar .nav-link {
    font-size: 14px;
}

.navy {
    background-color: navy;
}

.pink {
    background-color: pink;
} 

.fa-home{
    color: pink;
    background-color: navy;
}

.fa-book{
    color: navy;
    background-color: pink;
}

.fa-plus-square{
    color: pink;
    background-color: navy;
}

.fa-user-md {
    color: navy;
    background-color: pink;
}

.fa-ellipsis-h {
    color: pink;
    background-color: navy;
}

#break1 {
    position: relative;
    justify-content: center;
    margin-top: 200px !important;
    margin-bottom: 200px !important; 
    height: 350px;
    width: 500px;
    background: url('/img/pink.jpg') no-repeat;
    background-position: center center;
    background-attachment: fixed;
    visibility: hidden;
}

#break2 {
    position: relative;
    height: 500px;
    width: 90%;
    margin-top: 400px !important;
    margin-bottom: 200px !important;
    background: url('/img/the_pug_lily.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

#break3 {
    position: relative;
    min-height: 450px;
    width: 600px;
    background: url('/img/cake.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 150px !important;
    margin-bottom: 300px !important;
    visibility: hidden;
}

.jumbotron {
    border: none;
    box-shadow: 0 1px 1px rgba(44, 44, 44, 0.1);
    transition: all .6s;
}

#comingSoon:hover {
    cursor: not-allowed;
}

.jumbotron:hover {
    top: -15px;
    left:-5px;
    box-shadow: 25px 24px 28px rgba(0, 0, 0, 0.5);
}

.contact {
    margin-bottom: -10px;
}

.contact h1 {
    font-size: 12rem;
    color: white !important;
    background-color: rgb(48, 47, 47);
}
.contact a {
    text-decoration: none;
}

.contact a:hover {
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-decoration: none;
}

@media (min-width: 768px) {
    #about lead{
        margin-top: -50px;
    }