.navbar {
    opacity: .8;
    border-bottom: #e9e9e9 1px solid;
}

.navbar .nav-link {
    font-size: 14px;
}

#break1 {
    position: relative;
    margin-left: 450px;
    margin-top: 450px !important;
    margin-bottom: 300px !important; 
    height: 275px;
    width: 500px;
    background: url('/img/pink.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 20px;
    flex: auto;
}

#break2 {
    position: relative;
    height: 500px;
    width: 90%;
    margin-top: 400px !important;
    margin-bottom: 200px !important;
    background: url('/img/the_pug_lily.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position-x: 225px;
    background-repeat: no-repeat;
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 1.2s;
    animation: animat_show 1.2s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

#break3 {
    position: relative;
    min-height: 350px;
    width: 600px;
    background: url('/img/cake.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 300px !important;
    margin-bottom: 300px !important;
    margin-left: 375px !important;
    padding-right: 80px;
    padding-left: -15px;
    border-radius: 20px;
    margin: auto;
    flex: auto;
}

.card {
    border: none;
    box-shadow: 0 1px 1px rgba(44, 44, 44, 0.1);
    transition: all .8s;
    height: 110px;
    border-radius: 30px;
}

#portfolio:hover {
    cursor: pointer;
    text-decoration: none;
}

#comingSoon:hover {
    cursor: not-allowed;
}

.card:hover {
    top: -15px;
    left:-5px;
    box-shadow: 15px 14px 18px rgba(0, 0, 0, 0.5);
}

.card a {
    text-decoration: none;
}

.contact {
    margin-bottom: -10px;
}

.contact h1 {
    font-size: 12rem;
    color: white !important;
    background-color: rgb(48, 47, 47);
}
.contact a {
    text-decoration: none;
}

.contact a:hover {
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-decoration: none;
}

@media (min-width: 768px) {
    #about lead{
        margin-top: -50px;
    }
    
    #projects h2 {
        margin-right: 80px;
    }

}